In [1]:
import pandas as pd
from textblob import TextBlob
import spacy
import numpy as np

nlp = spacy.load("en_core_web_sm")

In [2]:
df = pd.read_csv('Raw_data/lines.csv')

In [3]:
df

,name,ep_szn,title,lines
0,The boys,101,"""Cartman Gets an Anal Probe""","School days, school days, teacher's golden ru...."
1,Kyle Broflovski,101,"""Cartman Gets an Anal Probe""","Ah, damn it! My little brother's trying to fol..."
2,Ike Broflovski,101,"""Cartman Gets an Anal Probe""",Ee gko zeeponanner.
3,Kyle,101,"""Cartman Gets an Anal Probe""","Ike, you can't come to school with me. [Ike ch..."
4,Eric Cartman,101,"""Cartman Gets an Anal Probe""","Yeah, go home you little dildo!"
...,...,...,...,...
86939,Sharon,2606,"""Spring Break""","Stanley, what have I told you about playing ""W..."
86940,Stan,2606,"""Spring Break""",Aw!
86941,Garrison,2606,"""Spring Break""","Oh, Rick!"
86942,Garrison,2606,"""Spring Break""",I don't want to go through all that again. I j...
86943,Rick,2606,"""Spring Break""","Well, I guess we'll just have to see what happ..."

In [4]:
df[df.name == 'Eric']

       name  ep_szn        title                     lines
22141  Eric     415   "Fat Camp"  [pissed off] Aw, damnit!

# Pre-processing

* Inspect NaN values and decide what to do with these rows
* Split strings so that we're not just dealing with one big string for each line
* Remove punctuation from all of the lines

In [5]:
df.isna().sum()

name      31
ep_szn     0
title      0
lines      6
dtype: int64

In [6]:
# Let's have a look at some..
# We can see we have some lines with no speaker and also some "stage direction" type of comments

df[df.name.isna()].head(5)

,name,ep_szn,title,lines
53949,NaN,1212,"""About Last Night...""","Boom, baby!"
75959,NaN,2008,"""Members Only""",[the machine closes enseals Garrison]
75968,NaN,2008,"""Members Only""","[Cartman, Heidi, and the secretary turn their ..."
76089,NaN,2008,"""Members Only""",[everyone continues walking]
76213,NaN,2009,"""Not Funny""",[crowd stops chattering]

In [7]:
# & keeps rows where ALL conditions are True

df = df[~(df.name.isna()) & (~df.lines.isna())].reset_index(drop = True)

In [8]:
# Check it's worked

df.isna().sum()

name      0
ep_szn    0
title     0
lines     0
dtype: int64

In [9]:
df.loc[0, 'lines']

"School days, school days, teacher's golden ru... [Ike runs to the team]"

In [10]:
# Before we go ahead and strip all punctuation we want to remove all of the "stage direction" stuff

df['lines'].replace(to_replace="\[.*?]", value="", regex=True, inplace=True)

/var/folders/dm/468m4xf52c71yhldz5ck50pw0000gn/T/ipykernel_4318/444882383.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['lines'].replace(to_replace="\[.*?]", value="", regex=True, inplace=True)

In [11]:
# Let's check if it worked

df.loc[0, 'lines']

"School days, school days, teacher's golden ru... "

In [12]:
df[df.lines == " God?? I can't do that. I haven't spoken to God in like, 5000 years."]

,name,ep_szn,title,lines
20680,Satan,411,"""Probably""",God?? I can't do that. I haven't spoken to Go...

In [13]:
df['string_split'] = df['lines'].str.split()

In [14]:
df.loc[0, 'string_split']

['School', 'days,', 'school', 'days,', "teacher's", 'golden', 'ru...']

In [15]:
English_punctuation = "!\"#$%&()*+,./:;<=>?@[\]^_`{|}~“”-"      # Define a variable with all the punctuation to remove.
print(English_punctuation)                                     # Print that defined variable, just to check it is correct.
print("...") 

def remove_punctuation(from_text):                           # Had to define a function to iterate over the strings in a row
    table = str.maketrans('', '', English_punctuation)       # The python function 'maketrans' creates a table that maps
    stripped = [w.translate(table) for w in from_text]        # the punctation marks to 'None'. Print the table to check. 
    return stripped

!"#$%&()*+,./:;<=>?@[\]^_`{|}~“”-
...

In [16]:
df['no_punct'] = df['string_split'].apply(remove_punctuation)

# Extract names from lines

What we want to do now is find a way to pull out every name from the lines in our dataset. 
Luckily for us when we did our webscraping, the webpage was formatted in a way that the names were easy to pull out into their own column. 

So, below, you'll see that what we do is create a variable which contains a list of all our unique names in the dataset. We then create 2 empty lists:

* match = will hold the names that match those in our unique names list
* index = will hold the indexes that pertain to the row of the dataset we are iterating through

You can see we also have a counter which is set to -1, because our index starts at 0. 
Then we have a series of for loops:

* first for loop iterates through each list of split strings in the dataset
* second for loop then iterates through each indivdual string/word within each list
* third for loop then iterates through each unique name in our list of unique names

Then we have an if statement which checks if the individual string matches any name in the list of names.
If it does we then append the name to our empty match list, along with its index.

In [17]:
names = list(df.name.unique())

In [18]:
names[:5]

['The boys', 'Kyle Broflovski', 'Ike Broflovski', 'Kyle', 'Eric Cartman']

Executing the cell below may take a few minutes as it's iterating through 86907 lines which contain 11 strings on average.

In [19]:
match = []
index = []
counter = -1

for lines in df.no_punct:
    counter += 1
    for word in lines:
        for i in names:
            if word == i:
                match.append(i)
                index.append(counter)

In [20]:
# Let's check out our match list

match[:10]

['Ike',
 'Dude',
 'Cartman',
 'Kenny',
 'Dude',
 'Ike',
 'Cartman',
 'Dude',
 'Cartman',
 'Chef']

In [21]:
# Let's look at our index list

index[:10]

[3, 5, 7, 11, 14, 15, 18, 28, 31, 37]

In [22]:
# Seems right! Although may need to deal with "Dude"

df.loc[index[:10]]

,name,ep_szn,title,lines,string_split,no_punct
3,Kyle,101,"""Cartman Gets an Anal Probe""","Ike, you can't come to school with me.","[Ike,, you, can't, come, to, school, with, me.]","[Ike, you, can't, come, to, school, with, me]"
5,Kyle,101,"""Cartman Gets an Anal Probe""","Dude, don't call my brother a dildo!","[Dude,, don't, call, my, brother, a, dildo!]","[Dude, don't, call, my, brother, a, dildo]"
7,Kyle,101,"""Cartman Gets an Anal Probe""","Well, I don't know... and I'll bet Cartman doe...","[Well,, I, don't, know..., and, I'll, bet, Car...","[Well, I, don't, know, and, I'll, bet, Cartman..."
11,Stan,101,"""Cartman Gets an Anal Probe""","What's a dildo, Kenny?","[What's, a, dildo,, Kenny?]","[What's, a, dildo, Kenny]"
14,Stan,101,"""Cartman Gets an Anal Probe""","Dude, that kicks ass!","[Dude,, that, kicks, ass!]","[Dude, that, kicks, ass]"
15,Kyle,101,"""Cartman Gets an Anal Probe""","Yeah, check this one out. Ready Ike? Kick the ...","[Yeah,, check, this, one, out., Ready, Ike?, K...","[Yeah, check, this, one, out, Ready, Ike, Kick..."
18,Stan,101,"""Cartman Gets an Anal Probe""","Whoa, Cartman! Looks like you didn't get much ...","[Whoa,, Cartman!, Looks, like, you, didn't, ge...","[Whoa, Cartman, Looks, like, you, didn't, get,..."
28,Stan,101,"""Cartman Gets an Anal Probe""",Dude! Visitors!,"[Dude!, Visitors!]","[Dude, Visitors]"
31,Stan,101,"""Cartman Gets an Anal Probe""","That wasn't a dream Cartman, those were visitors!","[That, wasn't, a, dream, Cartman,, those, were...","[That, wasn't, a, dream, Cartman, those, were,..."
37,Boys,101,"""Cartman Gets an Anal Probe""","Hey, Chef.","[Hey,, Chef.]","[Hey, Chef]"

In [23]:
# Let's create our filtered dataset using our indexes

filtered = df.loc[index]

In [24]:
# Let's assign our list of matches to a new column

filtered['matches'] = match

In [25]:
filtered[filtered.name == "Mom"]

,name,ep_szn,title,lines,string_split,no_punct,matches
18798,Mom,406,"""Cartman Joins NAMBLA""","You can't eat, Kenny. We have to save food for...","[You, can't, eat,, Kenny., We, have, to, save,...","[You, can't, eat, Kenny, We, have, to, save, f...",Kenny
18800,Mom,406,"""Cartman Joins NAMBLA""","Kenny, you have to change the baby's diapers!","[Kenny,, you, have, to, change, the, baby's, d...","[Kenny, you, have, to, change, the, baby's, di...",Kenny
33034,Mom,702,"""Krazy Kripples""","There you are, Jimmy!","[There, you, are,, Jimmy!]","[There, you, are, Jimmy]",Jimmy
35833,Mom,712,"""All About Mormons""","Hey, it's Gary!","[Hey,, it's, Gary!]","[Hey, it's, Gary]",Gary
42236,Mom,907,"""Erection Day""","Shauna honey, I think your little date is here.","[Shauna, honey,, I, think, your, little, date,...","[Shauna, honey, I, think, your, little, date, ...",Shauna
43314,Mom,911,"""Ginger Kids""","Clyde? What is it, honey?","[Clyde?, What, is, it,, honey?]","[Clyde, What, is, it, honey]",Clyde
49521,Mom,1108,"""Le Petit Tourette""","A-alright Thomas, maybe we should go?","[A-alright, Thomas,, maybe, we, should, go?]","[Aalright, Thomas, maybe, we, should, go]",Thomas
49529,Mom,1108,"""Le Petit Tourette""","Oh, a-I'm sorry. My... son Thomas has Tourett...","[Oh,, a-I'm, sorry., My..., son, Thomas, has, ...","[Oh, aI'm, sorry, My, son, Thomas, has, Touret...",Thomas
49532,Mom,1108,"""Le Petit Tourette""",People with Tourette's can't control certain t...,"[People, with, Tourette's, can't, control, cer...","[People, with, Tourette's, can't, control, cer...",People
49536,Mom,1108,"""Le Petit Tourette""","It's okay, Thomas. They understand.","[It's, okay,, Thomas., They, understand.]","[It's, okay, Thomas, They, understand]",Thomas
65685,Mom,1607,"""Cartman Finds Love""","Oh stop, William. There's nothing wrong with h...","[Oh, stop,, William., There's, nothing, wrong,...","[Oh, stop, William, There's, nothing, wrong, w...",William
68157,Mom,1704,"""Goth Kids 3",Michael! Michael!,"[Michael!, Michael!]","[Michael, Michael]",Michael
68157,Mom,1704,"""Goth Kids 3",Michael! Michael!,"[Michael!, Michael!]","[Michael, Michael]",Michael
72602,Mom,1902,"""Where My Country Gone?""","That's enough, Thomas!","[That's, enough,, Thomas!]","[That's, enough, Thomas]",Thomas
72639,Mom,1902,"""Where My Country Gone?""","Oh look at them, Thomas. I think they really l...","[Oh, look, at, them,, Thomas., I, think, they,...","[Oh, look, at, them, Thomas, I, think, they, r...",Thomas
72644,Mom,1902,"""Where My Country Gone?""","What is it, Thomas?","[What, is, it,, Thomas?]","[What, is, it, Thomas]",Thomas
73361,Mom,1906,"""Tweek x Craig""","We're so proud of you, Tweek.","[We're, so, proud, of, you,, Tweek.]","[We're, so, proud, of, you, Tweek]",Tweek
73420,Mom,1906,"""Tweek x Craig""","Awww, hi Craig.","[Awww,, hi, Craig.]","[Awww, hi, Craig]",Craig
82891,Mom,2308,"""Turd Burglars""","Shut up, Theresa!","[Shut, up,, Theresa!]","[Shut, up, Theresa]",Theresa

In [26]:
df[df.name == "Eric"]

       name  ep_szn        title         lines    string_split      no_punct
22139  Eric     415   "Fat Camp"   Aw, damnit!  [Aw,, damnit!]  [Aw, damnit]

In [27]:
filtered[filtered.name.str.contains("American")]

,name,ep_szn,title,lines,string_split,no_punct,matches
34431,Native American chief,707,"""Red Man's Greed""",Welcome to the Three Feathers Casino. I'm your...,"[Welcome, to, the, Three, Feathers, Casino., I...","[Welcome, to, the, Three, Feathers, Casino, I'...",Chief
45110,American male 1,1004,"""Cartoon Wars Part II""","Hello, I am American.","[Hello,, I, am, American.]","[Hello, I, am, American]",American
45111,American male 2,1004,"""Cartoon Wars Part II""",I'm American too.,"[I'm, American, too.]","[I'm, American, too]",American
45115,American Female,1004,"""Cartoon Wars Part II""","I'm American. I'm pregnant with a baby, but I...","[I'm, American., I'm, pregnant, with, a, baby,...","[I'm, American, I'm, pregnant, with, a, baby, ...",American
72508,Three students dressed in Native American garb,1902,"""Where My Country Gone?""","We are the Hopewell and Abenaki, first settler...","[We, are, the, Hopewell, and, Abenaki,, first,...","[We, are, the, Hopewell, and, Abenaki, first, ...",Canadian

In [28]:
filtered.matches.value_counts().nlargest(50)

matches
Kyle         2140
God          1797
All          1533
Butters      1429
Cartman      1356
Stan         1324
Dude         1193
Eric         1163
Kenny        1043
Jesus         816
Dad           619
Mom           525
Randy         464
Chef          399
Right         348
Garrison      345
Wendy         340
President     321
Ike           318
Tolkien       317
Jimmy         307
Tom           306
Everyone      290
Phillip       272
Terrance      270
People        263
Clyde         254
Craig         249
Stanley       249
woman         240
Sharon        238
Timmy         220
Tweek         202
Hat           189
Scott         185
TV            182
Mackey        168
Heidi         165
Man           162
American      162
Red           152
Boys          141
Principal     138
Mayor         133
New           126
Canadian      125
Bebe          124
Shelly        123
Ned           122
Satan         115
Name: count, dtype: int64

In [29]:
# We have duplicate indexes which is annoying

filtered[filtered.lines == " God?? I can't do that. I haven't spoken to God in like, 5000 years."]

,name,ep_szn,title,lines,string_split,no_punct,matches
20680,Satan,411,"""Probably""",God?? I can't do that. I haven't spoken to Go...,"[God??, I, can't, do, that., I, haven't, spoke...","[God, I, can't, do, that, I, haven't, spoken, ...",God
20680,Satan,411,"""Probably""",God?? I can't do that. I haven't spoken to Go...,"[God??, I, can't, do, that., I, haven't, spoke...","[God, I, can't, do, that, I, haven't, spoken, ...",God

In [30]:
# Let's check it out
# Looks like we should reset our index!

filtered[['lines', 'matches']].head()

                                                lines  matches
3             Ike, you can't come to school with me.       Ike
5                Dude, don't call my brother a dildo!     Dude
7   Well, I don't know... and I'll bet Cartman doe...  Cartman
11                             What's a dildo, Kenny?    Kenny
14                              Dude, that kicks ass!     Dude

In [31]:
filtered[filtered.lines == " God?? I can't do that. I haven't spoken to God in like, 5000 years."]

,name,ep_szn,title,lines,string_split,no_punct,matches
20680,Satan,411,"""Probably""",God?? I can't do that. I haven't spoken to Go...,"[God??, I, can't, do, that., I, haven't, spoke...","[God, I, can't, do, that, I, haven't, spoken, ...",God
20680,Satan,411,"""Probably""",God?? I can't do that. I haven't spoken to Go...,"[God??, I, can't, do, that., I, haven't, spoke...","[God, I, can't, do, that, I, haven't, spoken, ...",God

In [32]:
# Let's reset our index

filtered = filtered.reset_index(drop = True)

In [33]:
# Now we don't have duplicate indexes!

filtered[filtered.lines == " God?? I can't do that. I haven't spoken to God in like, 5000 years."]

,name,ep_szn,title,lines,string_split,no_punct,matches
7643,Satan,411,"""Probably""",God?? I can't do that. I haven't spoken to Go...,"[God??, I, can't, do, that., I, haven't, spoke...","[God, I, can't, do, that, I, haven't, spoken, ...",God
7644,Satan,411,"""Probably""",God?? I can't do that. I haven't spoken to Go...,"[God??, I, can't, do, that., I, haven't, spoke...","[God, I, can't, do, that, I, haven't, spoken, ...",God

# Nearly done...

Now all we need to do in order to make this dataset network-ready is to compute number of times each character mentions another character.

In [34]:
counts = filtered[['name', 'matches']].value_counts().reset_index()

In [35]:
counts

                name  matches  count
0            Cartman     Kyle   1011
1            Cartman  Butters    567
2               Kyle  Cartman    564
3               Stan     Dude    495
4            Cartman    Kenny    401
...              ...      ...    ...
10132  Memberberry 4   Mickey      1
10133  Memberberry 3    Death      1
10134  Memberberry 2    Tubbs      1
10135  Memberberry 1   Member      1
10136          woman      God      1

[10137 rows x 3 columns]

In [36]:
pivot_table = counts.pivot_table(index = 'name', columns = 'matches', values = 'count', fill_value = 0)

In [37]:
pivot_table

matches,Adam,Adams,Adolf,Adults,Agent,Aguilar,Al,Alan,Alarm,Alec,...,Yolanda,YourMomsTits,Zazul,Zeus,Zombie,Zytar,driver,instructor,woman,worker
name,,,,,,,,,,,,,,,,,,,,,
"""Ash""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Beaky Buzzard""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Brokaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Cupid Ye""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Droopy Dawg""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zazul,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zeus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
f*ther Maxi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
instructor,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
woman,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Save matrix and counts df to csv

In [72]:
counts.to_csv('Data/counts.csv', index = False)

In [73]:
pivot_table.to_csv('Data/pivottab.csv', index = False)

In [38]:
all_characters = set(counts['name']).union(set(counts['matches']))

In [39]:
len(all_characters)

2586

# Named Entity Recognition - for names

In [43]:
matches = []
index = []
counter = -1

for lines in df.no_punct[:30]:
    print(lines)
    counter += 1

    for word in lines:
        doc = nlp(word)
        for ent in doc.ents:
            if ent.label_ == "PERSON" and ent.text in names:
                matches.append(ent.text)
                index.append(counter)

['School', 'days', 'school', 'days', "teacher's", 'golden', 'ru']
['Ah', 'damn', 'it', 'My', 'little', "brother's", 'trying', 'to', 'follow', 'me', 'to', 'school', 'again']
['Ee', 'gko', 'zeeponanner']
['Ike', 'you', "can't", 'come', 'to', 'school', 'with', 'me']
['Yeah', 'go', 'home', 'you', 'little', 'dildo']
['Dude', "don't", 'call', 'my', 'brother', 'a', 'dildo']
["What's", 'a', 'dildo']
['Well', 'I', "don't", 'know', 'and', "I'll", 'bet', 'Cartman', "doesn't", 'know', 'either']
['I', 'know', 'what', 'it', 'means']
['Well', 'what']
["I'm", 'not', 'telling', 'you']
["What's", 'a', 'dildo', 'Kenny']
["It's", 'a', 'giant', 'stick', 'that', 'goes', 'inside', 'the', 'mom’s', 'vagina']
['Heyeah', "that's", 'what', "Kyle's", 'little', 'brother', 'is', 'all', 'right', 'Ow']
['Dude', 'that', 'kicks', 'ass']
['Yeah', 'check', 'this', 'one', 'out', 'Ready', 'Ike', 'Kick', 'the', 'baby']
["Don't", 'kick', 'the', 'baby']
['Kick', 'the', 'baby']
['Whoa', 'Cartman', 'Looks', 'like', 'you', "didn't", 'get', 'much', 'sleep', 'last', 'night']
["That's", "'cause", 'I', 'was', 'having', 'these', 'bogus', 'nightmares']
['Really', 'What', 'about']
['Well', 'I', 'dreamt', 'that', 'I', 'was', 'lying', 'in', 'my', 'bed']
['in', 'the', 'dark', 'when', 'all', 'of', 'a', 'sudden', 'this', 'bright', 'blue', 'light', 'filled', 'the', 'room']
['Then', 'slowly', 'my', 'bedroom', 'door', 'began', 'to', 'open']
['and', 'then', 'the', 'next', 'thing', 'I', 'remember', 'I', 'was', 'being', 'drug', 'through', 'a', 'hallway']
['Weeaak']
['Then', 'I', 'was', 'lying', 'on', 'a', 'table']
['and', 'these', 'scary', 'aliens', 'wanted', 'to', 'operate', 'on', 'me', 'And', 'they', 'had', 'big', 'heads', 'and', 'big', 'black', 'eyes']
['Dude', 'Visitors']
['Totally']

In [44]:
matches

['Kyle']

# Season by season

In [49]:
szn1 = df[(df.ep_szn > 100) & (df.ep_szn <= 113)]

In [64]:
sort = list(szn1.name.unique())

In [66]:
sorted(sort)

['(Montage)',
 'Adolf Hitler',
 'Agent 1',
 'Agent 2',
 'Aide',
 'Aide 2',
 'All',
 'All three',
 'Anchor',
 'Annoncer',
 'Announcer',
 'Anthropologist',
 'Artsy Man',
 'Assistant',
 'Assistant 1',
 'Audience Member',
 'Barbra Streisand',
 'Bebe',
 'Bebe Stevens',
 'Beefcake',
 'Beefcake, Cartman',
 'Big Gay Al',
 'Bill',
 'Blonde',
 'Boat Ride Singers',
 'Bob Saget',
 'Bookie',
 'Boys',
 'Bronco 1',
 'Bronco 2',
 'Caller',
 'Carl',
 'Carol',
 'Carol McCormick',
 'Cartman',
 'Cartman, Stan',
 'Chef',
 'Chef (falsetto)',
 'Chief Running Water',
 'Citizen',
 'Class',
 'Clone Stan',
 'Clyde',
 'Clyde Donovan',
 'Commercial',
 'Comrade 1',
 'Comrade 2',
 'Cow',
 'Cowboy',
 'Cowboy 1',
 'Cowboy 2',
 'Cowboys',
 'Cows',
 'Crowd',
 'Damien',
 'Damien Thorn',
 'Dave',
 'Death',
 'Denver citizens',
 'Director',
 'Doctor',
 'Don King',
 'Dr. Alphonse Mephesto',
 'Dude',
 'Elderly Tree Hugger',
 'Elderly Woman',
 'Elton John',
 'Enrique',
 'Eric Cartman',
 'Ethiopian',
 'Everybody',
 'Falsetto Bob Saget',
 'Farmer Carl',
 'Farmer Carl Denkins',
 'Father Maxi',
 'Female',
 'Female Gambler 1',
 'Female Gambler 2',
 'Female singer',
 'Fosse',
 'Frank',
 'Frank Hammond',
 'Gambler 1',
 'Gambler 2',
 'Gambler 3',
 'Gambler 4',
 'Gay Lion',
 'Gerald',
 'Gerald Broflovski',
 'Geraldo',
 'Geraldo Rivera',
 'Grandpa',
 'Granpa',
 'Great-Great-Grandpa',
 'Grizzled Man',
 'Groundskeeper',
 'Halfy',
 'Hat',
 'His Date',
 'Host',
 'Hotline Voice',
 'Huddle',
 'Ike',
 'Ike Broflovski',
 'Indian 1',
 'Indiglo Girls singer',
 'Individual in crowd',
 'Iraqi',
 'Janitor 2',
 'Jason',
 'Jerome "Chef" McElroy',
 'Jesus',
 'Jesus Christ',
 'Jewish Kid',
 'Jimbo',
 'Jimbo Kern',
 'Jogger',
 'John Warsog',
 'Johnson',
 'Kathie Lee',
 'Kathie Lee Gifford',
 'Kenny',
 'Kenny McCormick',
 'Kid',
 'Kid 1',
 'Kid 2',
 'Kids',
 'Kitty',
 'Korashki',
 'Kyle',
 'Kyle Broflovski',
 'Kyle, Cartman',
 'Kyle, Ms. Crabtree',
 'Kyle, Stan',
 'Kyle, Stan, Cartman',
 'Large woman',
 'Leader',
 'Leader turkey',
 'Leonard Maltin',
 'Liane',
 'Liane Cartman',
 'Lil Kathie Lee',
 'Lil Mr. Garrison',
 'MC',
 'Man',
 'Man 1',
 'Man 2',
 'Man in audience',
 'Man in crowd',
 'Marsh Family',
 'Martin',
 'Marty',
 'Marvin',
 'Marvin "Grandpa" Marsh',
 'Mayor',
 'Mayor McDaniels',
 'Mephesto',
 'Michael Buffer',
 'Midget',
 'Milo',
 'Monkey',
 'Mortician',
 'Mortician Aide',
 'Mr. Allen',
 'Mr. Garrison',
 'Mr. Hankey',
 'Mr. Hat',
 'Mr. Herbert Garrison',
 'Mr. Kitty',
 'Mr. Mackey',
 'Mr. Mackey, Jr.',
 'Mr. McDonald',
 'Mr. Pirrip',
 'Mr. Torres',
 'Mrs. Campbell',
 'Ms. Crabtree',
 'Ms. Ellen',
 'Ms. Veronica Crabtree',
 'Narrator',
 'Ned',
 'Ned Gerblansky',
 'News reporter',
 'Newscaster',
 'Nurse',
 'Officer Barbrady',
 'Ominous Vocie',
 'Ominous voice',
 'Paramedic',
 'Passer-by',
 'Patrick Duffy',
 'Peter',
 'Phil',
 'Phillip',
 'Photographer',
 'Pip',
 'Police Radio',
 'Polly',
 'Princesses',
 'Principal Victoria',
 'Puffy the Bear',
 'Quadriplegic Swiss man',
 'Randy',
 'Randy Marsh',
 'Red',
 'Red Cross Chick',
 'Red Cross dude',
 'Referee',
 'Reporter',
 'Reporter 1',
 'Reporter 2',
 'Researcher',
 'Rex',
 'Richard',
 'Richard Stamos',
 'Robert',
 'Robert Smith',
 'Roland',
 'Rumpertumskin',
 'Sally Struthers',
 'Santa Claus',
 'Satan',
 'Scuzzlebutt',
 'Sergeant',
 'Sharon',
 'Sharon Marsh',
 'Sheila',
 'Sheila Broflovski',
 'Shelly',
 'Shelly Marsh',
 'Shiela',
 'Show Announcer',
 'Sidney Poitier',
 'Singer',
 'Singing',
 'Some men',
 'Somebody',
 'Sparky',
 'Stan',
 'Stan Marsh',
 'Stan, Kyle',
 'Stan, Kyle, Kenny',
 'Stuart',
 'Stuart McCormick',
 'Student',
 'Students',
 'Suzanne',
 'Suzanne Somers',
 'Sylvester',
 'TV Announcer',
 'TV Crew Director',
 'TV Newscaster',
 'TV Voice',
 'TV announcer',
 'Talk Show Host',
 'Ted',
 'Terrance',
 'Terrance Mephesto',
 'The Boys',
 'The Mayor',
 'The boys',
 'Tom',
 'Townsfolk',
 'Townsman',
 'Townsman 1',
 'Townsman 2',
 'Townsperson 1',
 'Townsperson 2',
 'Townsperson 3',
 'Townswoman',
 'Train conductor',
 'Trainee Barbrady',
 'Tree hugger',
 'Uncle Jimbo',
 'Visitor',
 'Visitor Carl',
 'Vocalist',
 'Voice',
 'Voice-over',
 'Wendy',
 'Wendy Testaburger',
 'Woman',
 'Zombie',
 'Zombie Mortician',
 'f*ther Maxi']

In [158]:
b = szn1[szn1.name.str.contains('Mr')]

In [160]:
b.name.unique()

array(['Mr. Herbert Garrison', 'Mr. Hat', 'Mr. Garrison', 'Mr. Kitty',
       'Lil Mr. Garrison', 'Mr. Torres', 'Mr. Hankey', 'Mr. Mackey, Jr.',
       'Mr. Mackey', 'Mr. Pirrip', 'Mr. Allen', 'Mr. McDonald',
       'Mrs. Campbell'], dtype=object)

In [60]:
szn1_names = list(szn1.name.unique())

In [161]:
sorted(szn1_names)

['(Montage)',
 'Adolf Hitler',
 'Agent 1',
 'Agent 2',
 'Aide',
 'Aide 2',
 'All',
 'All three',
 'Anchor',
 'Annoncer',
 'Announcer',
 'Anthropologist',
 'Artsy Man',
 'Assistant',
 'Assistant 1',
 'Audience Member',
 'Barbra Streisand',
 'Bebe',
 'Bebe Stevens',
 'Beefcake',
 'Beefcake, Cartman',
 'Big Gay Al',
 'Bill',
 'Blonde',
 'Boat Ride Singers',
 'Bob Saget',
 'Bookie',
 'Boys',
 'Bronco 1',
 'Bronco 2',
 'Caller',
 'Carl',
 'Carol',
 'Carol McCormick',
 'Cartman',
 'Cartman, Stan',
 'Chef',
 'Chef (falsetto)',
 'Chief Running Water',
 'Citizen',
 'Class',
 'Clone Stan',
 'Clyde',
 'Clyde Donovan',
 'Commercial',
 'Comrade 1',
 'Comrade 2',
 'Cow',
 'Cowboy',
 'Cowboy 1',
 'Cowboy 2',
 'Cowboys',
 'Cows',
 'Crowd',
 'Damien',
 'Damien Thorn',
 'Dave',
 'Death',
 'Denver citizens',
 'Director',
 'Doctor',
 'Don King',
 'Dr. Alphonse Mephesto',
 'Dude',
 'Elderly Tree Hugger',
 'Elderly Woman',
 'Elton John',
 'Enrique',
 'Eric Cartman',
 'Ethiopian',
 'Everybody',
 'Falsetto Bob Saget',
 'Farmer Carl',
 'Farmer Carl Denkins',
 'Father Maxi',
 'Female',
 'Female Gambler 1',
 'Female Gambler 2',
 'Female singer',
 'Fosse',
 'Frank',
 'Frank Hammond',
 'Gambler 1',
 'Gambler 2',
 'Gambler 3',
 'Gambler 4',
 'Gay Lion',
 'Gerald',
 'Gerald Broflovski',
 'Geraldo',
 'Geraldo Rivera',
 'Grandpa',
 'Granpa',
 'Great-Great-Grandpa',
 'Grizzled Man',
 'Groundskeeper',
 'Halfy',
 'Hat',
 'His Date',
 'Host',
 'Hotline Voice',
 'Huddle',
 'Ike',
 'Ike Broflovski',
 'Indian 1',
 'Indiglo Girls singer',
 'Individual in crowd',
 'Iraqi',
 'Janitor 2',
 'Jason',
 'Jerome "Chef" McElroy',
 'Jesus',
 'Jesus Christ',
 'Jewish Kid',
 'Jimbo',
 'Jimbo Kern',
 'Jogger',
 'John Warsog',
 'Johnson',
 'Kathie Lee',
 'Kathie Lee Gifford',
 'Kenny',
 'Kenny McCormick',
 'Kid',
 'Kid 1',
 'Kid 2',
 'Kids',
 'Kitty',
 'Korashki',
 'Kyle',
 'Kyle Broflovski',
 'Kyle, Cartman',
 'Kyle, Ms. Crabtree',
 'Kyle, Stan',
 'Kyle, Stan, Cartman',
 'Large woman',
 'Leader',
 'Leader turkey',
 'Leonard Maltin',
 'Liane',
 'Liane Cartman',
 'Lil Kathie Lee',
 'Lil Mr. Garrison',
 'MC',
 'Man',
 'Man 1',
 'Man 2',
 'Man in audience',
 'Man in crowd',
 'Marsh Family',
 'Martin',
 'Marty',
 'Marvin',
 'Marvin "Grandpa" Marsh',
 'Mayor',
 'Mayor McDaniels',
 'Mephesto',
 'Michael Buffer',
 'Midget',
 'Milo',
 'Monkey',
 'Mortician',
 'Mortician Aide',
 'Mr. Allen',
 'Mr. Garrison',
 'Mr. Hankey',
 'Mr. Hat',
 'Mr. Herbert Garrison',
 'Mr. Kitty',
 'Mr. Mackey',
 'Mr. Mackey, Jr.',
 'Mr. McDonald',
 'Mr. Pirrip',
 'Mr. Torres',
 'Mrs. Campbell',
 'Ms. Crabtree',
 'Ms. Ellen',
 'Ms. Veronica Crabtree',
 'Narrator',
 'Ned',
 'Ned Gerblansky',
 'News reporter',
 'Newscaster',
 'Nurse',
 'Officer Barbrady',
 'Ominous Vocie',
 'Ominous voice',
 'Paramedic',
 'Passer-by',
 'Patrick Duffy',
 'Peter',
 'Phil',
 'Phillip',
 'Photographer',
 'Pip',
 'Police Radio',
 'Polly',
 'Princesses',
 'Principal Victoria',
 'Puffy the Bear',
 'Quadriplegic Swiss man',
 'Randy',
 'Randy Marsh',
 'Red',
 'Red Cross Chick',
 'Red Cross dude',
 'Referee',
 'Reporter',
 'Reporter 1',
 'Reporter 2',
 'Researcher',
 'Rex',
 'Richard',
 'Richard Stamos',
 'Robert',
 'Robert Smith',
 'Roland',
 'Rumpertumskin',
 'Sally Struthers',
 'Santa Claus',
 'Satan',
 'Scuzzlebutt',
 'Sergeant',
 'Sharon',
 'Sharon Marsh',
 'Sheila',
 'Sheila Broflovski',
 'Shelly',
 'Shelly Marsh',
 'Shiela',
 'Show Announcer',
 'Sidney Poitier',
 'Singer',
 'Singing',
 'Some men',
 'Somebody',
 'Sparky',
 'Stan',
 'Stan Marsh',
 'Stan, Kyle',
 'Stan, Kyle, Kenny',
 'Stuart',
 'Stuart McCormick',
 'Student',
 'Students',
 'Suzanne',
 'Suzanne Somers',
 'Sylvester',
 'TV Announcer',
 'TV Crew Director',
 'TV Newscaster',
 'TV Voice',
 'TV announcer',
 'Talk Show Host',
 'Ted',
 'Terrance',
 'Terrance Mephesto',
 'The Boys',
 'The Mayor',
 'The boys',
 'Tom',
 'Townsfolk',
 'Townsman',
 'Townsman 1',
 'Townsman 2',
 'Townsperson 1',
 'Townsperson 2',
 'Townsperson 3',
 'Townswoman',
 'Train conductor',
 'Trainee Barbrady',
 'Tree hugger',
 'Uncle Jimbo',
 'Visitor',
 'Visitor Carl',
 'Vocalist',
 'Voice',
 'Voice-over',
 'Wendy',
 'Wendy Testaburger',
 'Woman',
 'Zombie',
 'Zombie Mortician',
 'f*ther Maxi']

In [203]:
szn1.name[350:400]

350            Kyle
351            Stan
352            Kyle
353            Stan
354            Kyle
355            Stan
356             Ike
357            Kyle
358             Ike
359         Visitor
360            Cows
361            Kyle
362             Ike
363         Visitor
364         Cartman
365             Cow
366         Visitor
367    Visitor Carl
368            Kyle
369         Visitor
370            Kyle
371             Ike
372         Visitor
373         Cartman
374         Cartman
375            Stan
376            Kyle
377             Ike
378            Chef
379          Blonde
380            Chef
381            Kyle
382            Stan
383           Wendy
384            Stan
385           Wendy
386            Stan
387           Wendy
388            Stan
389           Wendy
390            Stan
391           Wendy
392            Stan
393           Wendy
394            Stan
395           Wendy
396            Stan
397            Stan
398            Kyle
399            Stan
Name: name, dtype: object

In [191]:
szn1

,name,ep_szn,title,lines,string_split,no_punct
0,The boys,101,"""Cartman Gets an Anal Probe""","School days, school days, teacher's golden ru...","[School, days,, school, days,, teacher's, gold...","[School, days, school, days, teacher's, golden..."
1,Kyle Broflovski,101,"""Cartman Gets an Anal Probe""","Ah, damn it! My little brother's trying to fol...","[Ah,, damn, it!, My, little, brother's, trying...","[Ah, damn, it, My, little, brother's, trying, ..."
2,Ike Broflovski,101,"""Cartman Gets an Anal Probe""",Ee gko zeeponanner.,"[Ee, gko, zeeponanner.]","[Ee, gko, zeeponanner]"
3,Kyle,101,"""Cartman Gets an Anal Probe""","Ike, you can't come to school with me.","[Ike,, you, can't, come, to, school, with, me.]","[Ike, you, can't, come, to, school, with, me]"
4,Eric Cartman,101,"""Cartman Gets an Anal Probe""","Yeah, go home you little dildo!","[Yeah,, go, home, you, little, dildo!]","[Yeah, go, home, you, little, dildo]"
...,...,...,...,...,...,...
4569,Ned,113,"""Cartman's Mom is a Dirty Slut""",Could be.,"[Could, be.]","[Could, be]"
4570,Announcer,113,"""Cartman's Mom is a Dirty Slut""",Or Mr. Broflovski??,"[Or, Mr., Broflovski??]","[Or, Mr, Broflovski]"
4571,Kyle,113,"""Cartman's Mom is a Dirty Slut""","Dad, how could you?!","[Dad,, how, could, you?!]","[Dad, how, could, you]"
4572,Announcer,113,"""Cartman's Mom is a Dirty Slut""",Or is it the 1991 Denver Broncos? The answer i...,"[Or, is, it, the, 1991, Denver, Broncos?, The,...","[Or, is, it, the, 1991, Denver, Broncos, The, ..."
4573,Cartman,113,"""Cartman's Mom is a Dirty Slut""",What?! Son of a b****!,"[What?!, Son, of, a, b****!]","[What, Son, of, a, b]"

In [202]:
expanded_names = szn1_names + ["Garrison", "Barbrady", "Eric", "Stanley", "Mackey", "Crabtree"]

In [196]:
match = []
index = []
counter = -1

stop_words = ["Dude", "All", "Everybody", "Boys", "Kids", "Somebody", "God"]

for lines in szn1.no_punct:
    counter += 1
    for word in lines:
        for i in expanded_names:
            if word == i and word not in stop_words:
                match.append(i)
                index.append(counter)

In [197]:
b = filtered_szn1[filtered_szn1.no_punct.apply(lambda x: "Crabtree" in x)]

In [198]:
b

,name,ep_szn,title,lines,string_split,no_punct,matches
83,Kyle,101,"""Cartman Gets an Anal Probe""","Ike! STOP THE BUUUUUS! Ms. Crabtree, you have...","[Ike!, STOP, THE, BUUUUUS!, Ms., Crabtree,, yo...","[Ike, STOP, THE, BUUUUUS, Ms, Crabtree, you, h...",Ike

In [199]:
# Let's create our filtered dataset using our indexes

filtered_szn1 = df.loc[index]

In [200]:
# Let's assign our list of matches to a new column

filtered_szn1['matches'] = match

In [201]:
sorted(filtered_szn1.matches.unique())

['Barbrady',
 'Bebe',
 'Beefcake',
 'Bill',
 'Carl',
 'Carol',
 'Cartman',
 'Chef',
 'Clyde',
 'Cow',
 'Cowboys',
 'Cows',
 'Crabtree',
 'Damien',
 'Dave',
 'Death',
 'Doctor',
 'Enrique',
 'Eric',
 'Ethiopian',
 'Fosse',
 'Frank',
 'Garrison',
 'Gerald',
 'Grandpa',
 'Hat',
 'Ike',
 'Iraqi',
 'Jesus',
 'Jimbo',
 'Johnson',
 'Kenny',
 'Kid',
 'Kitty',
 'Korashki',
 'Kyle',
 'Liane',
 'Mackey',
 'Man',
 'Martin',
 'Marty',
 'Marvin',
 'Mayor',
 'Mephesto',
 'Milo',
 'Ned',
 'Peter',
 'Phillip',
 'Pip',
 'Polly',
 'Randy',
 'Red',
 'Rex',
 'Richard',
 'Robert',
 'Roland',
 'Rumpertumskin',
 'Satan',
 'Scuzzlebutt',
 'Sheila',
 'Shelly',
 'Sparky',
 'Stan',
 'Stanley',
 'Suzanne',
 'Sylvester',
 'Ted',
 'Terrance',
 'Tom',
 'Wendy']

In [120]:
sorted(filtered_szn1.matches.unique())

['Bebe',
 'Beefcake',
 'Bill',
 'Carl',
 'Carol',
 'Cartman',
 'Chef',
 'Clyde',
 'Cow',
 'Cowboys',
 'Cows',
 'Damien',
 'Dave',
 'Death',
 'Doctor',
 'Enrique',
 'Ethiopian',
 'Fosse',
 'Frank',
 'Gerald',
 'Grandpa',
 'Hat',
 'Ike',
 'Iraqi',
 'Jesus',
 'Jimbo',
 'Johnson',
 'Kenny',
 'Kid',
 'Kitty',
 'Korashki',
 'Kyle',
 'Liane',
 'Man',
 'Martin',
 'Marty',
 'Marvin',
 'Mayor',
 'Mephesto',
 'Milo',
 'Ned',
 'Peter',
 'Phillip',
 'Pip',
 'Polly',
 'Randy',
 'Red',
 'Rex',
 'Richard',
 'Robert',
 'Roland',
 'Rumpertumskin',
 'Satan',
 'Scuzzlebutt',
 'Sheila',
 'Shelly',
 'Sparky',
 'Stan',
 'Suzanne',
 'Sylvester',
 'Ted',
 'Terrance',
 'Tom',
 'Wendy']

In [86]:
filtered_szn1.matches.unique()

array(['Ike', 'Cartman', 'Kenny', 'Chef', 'God', 'Cows', 'People',
       'Barbrady', 'Hat', 'Garrison', 'Kyle', 'Eric', 'Wendy', 'Stan',
       'woman', 'Mom', 'Tom', 'Kitty', 'Son', 'David', 'Boy', 'Scott',
       'Senator', 'Mayor', 'Hitler', 'Frank', 'Cow', 'TV', 'Jesus',
       'Beefcake', 'Nancy', 'Bebe', 'Officer', 'Mary', 'Tyler', 'Man',
       'Henry', 'Uncle', 'Jimbo', 'Right', 'Stanley', 'Ned', 'Randy',
       'Johnson', 'Ted', 'Scuzzlebutt', 'Patrick', 'Stevens', 'Sam',
       'Everyone', 'Baby', 'Friend', 'Sparky', 'Sylvester', 'Pip', 'Rex',
       'Simon', 'Cowboys', 'John', 'Richard', 'Robert', 'Carl', 'Al',
       'Enrique', 'King', 'Hugh', 'Grant', 'Willy', 'Carlos', 'Terrance',
       'Charlie', 'Shelly', 'Phillip', 'Ladies', 'Mother', 'Dad',
       'Buddha', 'Casey', 'Bill', 'Fosse', 'Billy', 'Jack', 'Grandpa',
       'Martin', 'New', 'House', 'Protesters', 'Carol', 'Death',
       'Sheriff', 'Suzanne', 'Marty', 'Adolf', 'Collins', 'Principal',
       'Victoria', 'Alarm', 'Ho', 'James', 'Clyde', 'President', 'Doctor',
       'Pops', 'Hope', 'Sally', 'Marvin', 'Red', 'Vanessa', 'Chief',
       'Ethiopian', 'American', 'Joseph', 'Santa', 'Mexicans', 'Sheila',
       'Damien', 'Prince', 'Roland', 'Satan', 'Devil', 'Parents', 'Ellen',
       'CD', 'Korashki', 'Iraqi', 'Dave', 'Milo', 'Lady', 'Rebecca',
       'Sid', 'Guard', 'Smith', 'Robot', 'Polly', 'Peter', 'Earl',
       'Mackey', 'Rumpertumskin', 'Bob', 'Bear', 'Liane', 'Kid', 'Women',
       'Broncos', 'Head', 'Child', 'Gerald', 'Kevin', 'Mephesto'],
      dtype=object)

In [76]:
filtered_szn1.name.unique()

array(['Kyle', 'Stan', 'Boys', 'Officer Barbrady', 'Mr. Herbert Garrison',
       'Mr. Garrison', 'Mr. Hat', 'Cartman', 'Kyle, Cartman', 'Wendy',
       'Chef', 'Blonde', 'Ted', 'Kyle, Stan', 'Kenny', 'Lil Mr. Garrison',
       'Lil Kathie Lee', 'TV Announcer', 'Beefcake', 'Mayor McDaniels',
       'Geraldo Rivera', 'Kathie Lee', 'Jimbo', 'Ned Gerblansky', 'Ned',
       'Randy', 'Johnson', 'Newscaster', 'Liane', 'Pip', 'Clyde', 'Bill',
       'Fosse', 'Gambler 1', 'Gambler 2', 'Gambler 3', 'Female Gambler 1',
       'Female Gambler 2', 'Gambler 4', 'Bookie', 'Robert', 'Jesus',
       'Frank Hammond', 'Frank', 'Phil', 'Townsman 1', 'Big Gay Al',
       'Audience Member', 'Townsman', 'Shelly', 'TV Voice', 'Tom',
       'TV Newscaster', 'Mephesto', 'Sharon Marsh', 'Terrance', 'Phillip',
       'Grandpa', 'Sheila Broflovski', 'Sheila', 'Caller', 'Martin',
       'Talk Show Host', 'All', 'John Warsog', 'Sharon', 'Mortician',
       'Principal Victoria', 'Midget', 'Doctor', 'The Boys', 'Stan, Kyle',
       'Hotline Voice', 'TV announcer', 'Bebe', 'Agent 2', 'Large woman',
       'Father Maxi', 'Assistant 1', 'Gerald', 'Voice', 'Mr. Hankey',
       'Mr. Mackey, Jr.', 'Mr. Mackey', 'MC', 'Elderly Tree Hugger',
       'Townsfolk', 'Damien Thorn', 'Damien', 'Roland', 'Red',
       'Commercial', 'f*ther Maxi', 'Announcer', 'Reporter 1',
       'Reporter 2', 'Michael Buffer', 'Satan', 'Ms. Ellen', '(Montage)',
       'Leader', 'Mrs. Campbell', 'Quadriplegic Swiss man', 'Dave',
       'Leonard Maltin', 'Barbra Streisand', 'Assistant', 'The boys',
       'Sergeant', 'Singer', 'Polly', 'Peter', 'Man', 'Trainee Barbrady',
       'Annoncer', 'Chief Running Water', 'Bob Saget'], dtype=object)

# X_array stuff

In [ ]:
# xarray

ds = filtered.to_xarray()

In [ ]:
ds.set_coords(['name', 'matches', 'n_mentions'])

In [ ]:
for i in na:
    if i == 'Sorry':
        print(i)

Things to consider:

The boys use "Dude" a lot throughout to refer to each other, but in a few of the episodes (3) there is a generic "Dude" character, and he does reference others. Should we filter these out?

We also need to filter out "Sorry". It appears once in

In [ ]:
df_c[df_c.name == 'Sorry'].head(70)

In [ ]:
pd.set_option('display.max_rows', 500)

df_c[df_c.ep_szn == 218]

In [ ]:
df_c['lines'].replace(to_replace="\[.*?]", value="", regex=True, inplace=True)

In [ ]:
df_c['lines'][98]

In [ ]:
b = df_c.lines.tolist()

In [ ]:
ent_list = []

for i in b[:5]:
    print("aye", i)
    doc = nlp(i) 
    for entity in doc.ents:
        ent_list.append(entity.text)
    else:
        ent_list.append("None")

In [ ]:
ent_list

In [ ]:
sent_ent = []


for line, char in zip(df_c.lines, df_c.name):
    doc = nlp(line)
    entity_list = [ent.text for ent in doc.ents if ent.label_ == 'PERSON']
    sent_ent.append({"name": char, "line": line, "entities": entity_list})
    
    for ent in doc.ents:
        print(ent.label_)
#     doc = nlp(i)
#     for entity in doc.ents:
#         entity_list.append(entity.text)
#     else:
#         entity_list.append("None")

In [ ]:
sent_ent

In [ ]:
for i in sent_ent[:10]:
    print(i['entities'])

In [ ]:
for i in sent_ent[:3]:
    print(i)

In [ ]:
df_c.name

In [ ]:
entity_list

In [ ]:
df_c['Entities'] = entity_list

In [ ]:
na_removed

In [ ]:
na_removed['line_sent'] = na_removed['lines'].apply(lambda x: TextBlob(x).sentiment[0])

In [ ]:
na_removed

In [ ]:
cartman = na_removed[na_removed.name == 'Cartman']

In [ ]:
cartman

In [ ]:
cartman.line_sent.mean()

In [ ]:
cartman.line_sent.sum() / len(cartman)

In [ ]:
zero_removed = cartman[cartman.line_sent != 0.0000]

In [ ]:
zero_removed.line_sent.mean()

In [ ]:
kyle = na_removed[na_removed.name == 'Kyle']

In [ ]:
kyle.line_sent.sum() / len(kyle)

In [ ]:
wendy = na_removed[na_removed.name == 'Wendy']

In [ ]:
wendy

In [ ]:
wendy.line_sent.sum() / len(wendy)

In [ ]:
zero_removed = sheila[sheila.line_sent != 0.0000]

In [ ]:
zero_removed.line_sent.sum() / len(zero_removed)

In [ ]:
kenny

In [ ]:
kenny = na_removed[na_removed.name == 'Kenny']

In [ ]:
kenny.line_sent.mean()

In [ ]:
zero_removed = kenny[kenny.line_sent != 0.0000]

In [ ]:
zero_removed.line_sent.mean()

In [ ]:
garrison = na_removed[na_removed.name == 'Garrison']

In [ ]:
garrison

In [ ]:
garrison.line_sent.mean()

In [ ]:
means = []
names = []

for i in na_removed.name.unique():
    names.append(i)
    unique = na_removed[na_removed.name == i]
    mean = unique.line_sent.mean()
    means.append(mean)

In [ ]:
df = pd.DataFrame(list(zip(names, means)),
               columns =['Name', 'Mean'])

In [ ]:
df.sort_values(by = 'Mean', ascending = False)[:50]

In [ ]:
import sys
import numpy
numpy.set_printoptions(threshold=sys.maxsize)

df.name.unique()